*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
**/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/ssl
/storage/app/scrapes
/storage/pail
/vendor
tools/scrapers/**/out
tools/scrapers/**/.npm-cache
.npm-cache
.npm/_logs
Homestead.json
Homestead.yaml
Thumbs.db
